<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Telstra M2M Challenge 2016 QUT team members">

    <title>Telstra University Challenge &ndash; TeamQUT</title>

      <link rel=stylesheet type=text/css href="{{ url_for('static', filename='pure-min.css') }}">


      <!--[if lte IE 8]>
          <link rel=stylesheet type=text/css href="{{ url_for('static', filename='side-menu-old-ie.css') }}">
      <![endif]-->
      <!--[if gt IE 8]><!-->
          <link rel=stylesheet type=text/css href="{{ url_for('static', filename='side-menu.css') }}">
      <!--<![endif]-->







</head>
<body>






<div id="layout">
    <!-- Menu toggle -->
    <a href="#menu" id="menuLink" class="menu-link">
        <!-- Hamburger icon -->
        <span></span>
    </a>

    <div id="menu">
        <div class="pure-menu">
            <a class="pure-menu-heading" href="/">Home</a>

            <ul class="pure-menu-list">
                <!-- <li class="pure-menu-item"><a href="/home/" class="pure-menu-link">Home</a></li> -->
                <li class="pure-menu-item"><a href="/team/" class="pure-menu-link">Meet the Team</a></li>
                <li class="pure-menu-item"><a href="/prototype/" class="pure-menu-link">See the Prototype</a></li>
                <!-- <li class="pure-menu-item"><a href="/users/" class="pure-menu-link">Users</a></li> -->
            </ul>
        </div>
    </div>

    <div id="main">
        <div class="header">
            <h1>Meet the Team</h1>
            <h2>QUT Telstra University Challenge Team</h2>
        </div>

        <br>

        <div class="content">

          <!--Thomas Hunn-->
            <div class="pure-g">
                <div class="pure-u-4-24">
                  <img class="pure-img-responsive" src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAOlAAAAJDFkOWRmMTBjLTY5NjktNDE4MS1hYzcyLTcyYmU1YjZjNDA1NA.jpg" alt="Thomas Hunn">
                </div>

                <div class="pure-u-1-24">
                  <!-- Empty place holder -->
                </div>

                <div class="pure-u-19-24">
                  <h1>Thomas Hunn</h1>
                  <p>Bachelor of Engineering (Electrical) and Bachelor of Business (Finance)</p>
                  <a href="https://au.linkedin.com/pub/thomas-hunn/7a/46b/aa5" style="text-decoration:none;"><span style="font: 80% Arial,sans-serif; color:#0783B6;"><img src="http://s.c.lnkd.licdn.com/scds/common/u/img/webpromo/btn_in_20x15.png" width="20" height="15" alt="View Thomas Hunn's LinkedIn profile" style="vertical-align:middle;" border="0">&nbsp;View Thomas Hunn's profile</span></a>
                </div>
              </div>
              <div>
              <p style="justify">
                Tom  is  a  highly  motivated  student  with  a  passion  for  working  in  groups  to  solve  complex problems ranging from business cases to technical engineering assignments. He is currently in his  fourth  year  of  studying  a  Double  Bachelor  of  Business  and  Engineering  at  Queensland University of Technology.
              </p>
            </div>
            <!--End Thomas Hunn-->

            <!--Damien-->
              <div class="pure-g">
                  <div class="pure-u-4-24">
                    <img class="pure-img-responsive" src="http://m.c.lnkd.licdn.com/media/AAEAAQAAAAAAAAQjAAAAJDZjODhiODc2LTA3NTQtNGJmYi04ZDY5LWExYzVkZjRlNTdlYQ.jpg" alt="Damien">
                  </div>

                  <div class="pure-u-1-24">
                    <!-- Empty place holder -->
                  </div>

                  <div class="pure-u-19-24">
                    <h1>Damien Sinclair</h1>
                    <p>Bachelor of Engineering (B.Eng.), Electrical, Power and Energy Systems</p>
                    <a href="https://au.linkedin.com/in/damiensinclair" style="text-decoration:none;"><span style="font: 80% Arial,sans-serif; color:#0783B6;"><img src="http://s.c.lnkd.licdn.com/scds/common/u/img/webpromo/btn_in_20x15.png" width="20" height="15" alt="View Thomas Hunn's LinkedIn profile" style="vertical-align:middle;" border="0">&nbsp;View Damien Sinclair's profile</span></a>
                  </div>
                </div>
                <div>
                <p style="justify">
                  Damien is a fourth year Electrical Engineering student at Queensland University of Technology and an undergraduate engineer at Lendlease Australia. He is excited to be moving to London over the winter break to complete an internship at Lendlease UK.
                </p>
              </div>
              <!--Damien-->

        <!--Erin Hannan Jones-->
          <div class="pure-g">
              <div class="pure-u-4-24">
                <img class="pure-img-responsive" src="http://m.c.lnkd.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAfWAAAAJGVlY2U3YWRkLTNlMzItNGEyMi04MDU4LWUyM2VmYThlZDcwMQ.jpg" alt="Erin Hannan Jones">
              </div>

              <div class="pure-u-1-24">
                <!-- Empty place holder -->
              </div>

              <div class="pure-u-19-24">
                <h1>Erin Hannan Jones</h1>
                <p>Bachelor of Laws and Bachelor of Business (Economics)</p>
                <a href="https://au.linkedin.com/in/erinhannanjones" style="text-decoration:none;"><span style="font: 80% Arial,sans-serif; color:#0783B6;"><img src="http://s.c.lnkd.licdn.com/scds/common/u/img/webpromo/btn_in_20x15.png" width="20" height="15" alt="View Thomas Hunn's LinkedIn profile" style="vertical-align:middle;" border="0">&nbsp;View Erin Hannan Jones' profile</span></a>
              </div>
            </div>
            <div>
            <p style="justify">
              Erin  is  a  penultimate  year  Law  and  Economics  student  at  the  Queensland  University  of Technology.  She  is  passionate  about  social  justice  and  sustainable  enterprise.  Erin  recently competed in and won the QUT Next Innovation Challenge with a team of like­minded business students.
            </p>
          </div>
          <!--Erin Hannan Jones-->

          <!--Izzie-->
            <div class="pure-g">
                <div class="pure-u-4-24">
                  <img class="pure-img-responsive" src="http://m.c.lnkd.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAARcAAAAJDc3N2RmNWIzLTgwZDAtNDBkZS1iZjJmLTM3YTRjMGRhMDNmMQ.jpg" alt="Izzie">
                </div>

                <div class="pure-u-1-24">
                  <!-- Empty place holder -->
                </div>

                <div class="pure-u-19-24">
                  <h1>Isabella Kalaja</h1>
                  <p>Bachelor's Degree, Business (Marketing)</p>
                  <a href="https://au.linkedin.com/in/isabella-kalaja-24139ab4" style="text-decoration:none;"><span style="font: 80% Arial,sans-serif; color:#0783B6;"><img src="http://s.c.lnkd.licdn.com/scds/common/u/img/webpromo/btn_in_20x15.png" width="20" height="15" alt="View Thomas Hunn's LinkedIn profile" style="vertical-align:middle;" border="0">&nbsp;View Isabella Kalaja's profile</span></a>
                </div>
              </div>
              <div>
              <p style="justify">
                  Isabella Kalaja is a penultimate year Business student at the Queensland University of Technology and a full-time Marketing intern at Coca-Cola Amatil. She is travelling to Copenhagen Business School in August to study big data, networked businesses, and new product development.
              </p>
            </div>
            <!--Izzie-->

            <!--Chloe-->
              <div class="pure-g">
                  <div class="pure-u-4-24">
                    <img class="pure-img-responsive" src="http://m.c.lnkd.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAccAAAAJDQwMGYwZmI1LTZhMTUtNDYzZS1hZTE0LWE3NGFmOWY4Y2FmNA.jpg" alt="Chloe">
                  </div>

                  <div class="pure-u-1-24">
                    <!-- Empty place holder -->
                  </div>

                  <div class="pure-u-19-24">
                    <h1>Chloe Davison</h1>
                    <p>Bachelor’s Degree, International Business, Finance, Management and Interactive and Visual Design</p>
                    <a href="https://au.linkedin.com/in/chloe-davison-bba86a105" style="text-decoration:none;"><span style="font: 80% Arial,sans-serif; color:#0783B6;"><img src="http://s.c.lnkd.licdn.com/scds/common/u/img/webpromo/btn_in_20x15.png" width="20" height="15" alt="View Thomas Hunn's LinkedIn profile" style="vertical-align:middle;" border="0">&nbsp;View Chloe Davison's profile</span></a>
                  </div>
                </div>
                <div>
                <p style="justify">
                     Chloe Davison is in her third year, studying a Bachelor of Business - International, with a major in finance. She is extremely passionate about International Business and the differences in cultures. She has travelled to places such as South Africa, Russia, Spain, Japan and America - just to name a few. She has studied across the globe, including France, America and Australia.  Chloe's talents go beyond the analytics of business, and reach into the arena of graphic design and interactive media. Chloe is an active advocate for gender equality and founded QUT Women in Business, a student run organisation, this year.
                </p>
              </div>
              <!--Chloe-->

              <!-- James-->
                <div class="pure-g">
                    <div class="pure-u-4-24">
                      <img class="pure-img-responsive" src="http://m.c.lnkd.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAiWAAAAJDM3NDVhMmQwLTBkMWQtNDlhMy05ZjUxLTZhOTc2NzI3ZTQyYQ.jpg" alt="Chloe">
                    </div>

                    <div class="pure-u-1-24">
                    </div>

                    <div class="pure-u-19-24">
                      <h1>James Moreland</h1>
                      <p>Bachelor of Engineering (B.Eng.), Mechanical Engineering</p>
                      <a href="https://au.linkedin.com/in/james-moreland-3ba10aa2" style="text-decoration:none;"><span style="font: 80% Arial,sans-serif; color:#0783B6;"><img src="http://s.c.lnkd.licdn.com/scds/common/u/img/webpromo/btn_in_20x15.png" width="20" height="15" alt="View Thomas Hunn's LinkedIn profile" style="vertical-align:middle;" border="0">&nbsp;View James Moreland's profile</span></a>
                    </div>
                  </div>
                  <div>
                  <p style="justify">
                    James is a student of the Queensland University of Technology studying Mechanical Engineering with a minor in Motorsport engineering.
                    With a passion for innovative design, James enjoys his position as project manager of the QUT Motorsport team heading the current first generation electric race car.
                    Being part of Clenergy Team Arrow has been a wonderful experience James with the success of their solar car and shown how the future of transport may is heading.
                  </p>
                </div>
                <!--James -->

        </div>
    </div>
</div>





<script type="text/javascript" src="{{ url_for('static', filename='ui.js') }}"></script>


</body>
</html>
